<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Bank Admin</title>
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/site.css" asp-append-version="true" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Bank</a><button class="btn btn-link btn-sm order-1 order-lg-0 mr-auto" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button><!-- Navbar Search-->
        @if (User.Identity.IsAuthenticated)
        {
            <partial name="_SearchPartial" />
        }
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-md-0" >
            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a asp-controller="User" asp-action="Register" class="dropdown-item">Register</a>
                        <div class="dropdown-divider"></div>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                       <partial name="_LogoutPartial"/>
                    }
                    else
                    {
                        <a class="dropdown-item" asp-controller="User" asp-action="Login">Login</a>
                    }
                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Start</div>
                        <a class="nav-link" asp-controller="Home" asp-action="Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        
                        @if(User.Identity.IsAuthenticated)
                        {
                            <div class="sb-sidenav-menu-heading">Manage Customers</div>
                            <a class="nav-link" asp-controller="Customer" asp-action="ListCustomers">
                                <div class="sb-nav-link-icon"><i class="fas fa-search"></i></div>
                                Search customers
                            </a>
                          }
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="sb-sidenav-menu-heading">Administer Users</div>
                            <a class="nav-link" asp-controller="Admin" asp-action="CreateCustomer">
                                <div class="sb-nav-link-icon"><i class="fas fa-users-cog"></i></div>
                                Create new customer
                            </a>
                        }
                    </div>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        <span class="small">@User.Identity.Name</span>
                    </div>
                }
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Bank 2020</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/lib/moment.js/moment.min.js"></script>
    <script asp-append-version="true" src="~/js/site.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script> 

    @RenderSection("Scripts", required: false)
</body>
</html>
