@model Bank.Web.ViewModels.StartPageViewModel

@{
    ViewData["Title"] = "Home Page";
}


    <div class="jumbotron">
        <h1 class="display-4">Welcome to the bank admin system!</h1>
        <hr class="my-3"/>
        <p class="lead">The bank in numbers:</p>
        <p>Number of customers is now <span class="font-weight-bold">@Model.nrOfCustomers</span></p>
        <hr class="my-3" />
        <p>Number of accounts is now <span class="font-weight-bold">@Model.nrOfAccounts</span></p>
        <hr class="my-3" />
        <p>The total sum of all accounts is now <span class="font-weight-bold">@Model.sumOfAllAccounts</span></p>
    </div>






