@model Bank.Web.ViewModels.StartPageViewModel

@{
    ViewData["Title"] = "Home Page";
}


    <div class="row">
        <h1 class="display-4">Welcome to the bank admin system!</h1>
        <hr class="mt-3"/>     
    </div>
    
    <div class="row">
        <div class="col-9">

        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <p class="lead text-sm-center">The bank in numbers:</p>
                    <p class="text-sm-center">Number of customers is now <span class="font-weight-bold">@Model.nrOfCustomers</span></p>
                    <hr class="my-3" />
                    <p class="text-sm-center">Number of accounts is now <span class="font-weight-bold">@Model.nrOfAccounts</span></p>
                    <hr class="my-3" />
                    <p class="text-sm-center">The total sum of all accounts is now <span class="font-weight-bold">@Model.sumOfAllAccounts</span></p>
                </div>
            </div>
        </div>
    </div>





