@model Bank.Web.ViewModels.StartPageViewModel

@{
    ViewData["Title"] = "Home Page";
}



    
    <div class="row">
        <div class="col-9">
            <div class="card">
                <div class="card-body">
                    <h1 class="lead font-weight-bold text-lg-center">Welcome to the bank admin system</h1> 
                </div>               
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <p class="lead text-sm-center">The bank in numbers:</p>
                    <p class="text-sm-center">Number of customers is now <span class="font-weight-bold">@Model.nrOfCustomers</span></p>
                    <hr class="my-3" />
                    <p class="text-sm-center">Number of accounts is now <span class="font-weight-bold">@Model.nrOfAccounts</span></p>
                    <hr class="my-3" />
                    <p class="text-sm-center">The total sum of all accounts is now <span class="font-weight-bold">@Model.sumOfAllAccounts</span></p>
                </div>
            </div>
        </div>
    </div>





