@model Bank.Web.ViewModels.StartPageViewModel

@{
    ViewData["Title"] = "Home Page";
}

    <h1 class="mt-4">Dashboard</h1>

<h1>Antal kunder: @Model.nrOfCustomers</h1>
<h1>Antal konton: @Model.nrOfAccounts</h1>
<h1>Totala summan av alla konton: @Model.sumOfAllAccounts kr</h1>

<form asp-controller="Customer" asp-action="searchCustomer" asp-route-id="@Model.customerID">
    <label>Ange kundnummer</label>
    <input type="text" asp-for="customerID"/>

    <button type="submit">Visa</button>
</form>

<a class="btn btn-primary" asp-controller="Customer" asp-action="ListCustomers">Sök kunder</a>

