
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<form asp-controller="User" asp-action="Logout" method="post">
    <button type="submit" class="dropdown-item">Logout</button>
</form>