
 <form id="idSearch" asp-controller="Customer" asp-action="viewCustomer" class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
     <div class="input-group">
         <input name="customerID" class="form-control" type="text" placeholder="Customer ID" aria-label="Search" aria-describedby="basic-addon2"/>
         <div class="input-group-append">
             <button id="searchButton" class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
         </div>
     </div>
 </form>
